<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Events{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

         <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        <style type="text/css">
        body {
            background: url('{{ asset("img/background2.jpg") }}') no-repeat center;
            background-size: 100% 100%;
        }

        body img {
            height: 350px;
            width: 350px;
        }

        body {
        font-family: Comic Sans MS;
        font-size: 15px;
        }

        header {
            background: url('{{ asset("img/image2.jpg") }}') no-repeat center;
            background-size: 100% 100%;
            height: 300px;
        }

        .letters {
        text-shadow: -1px -1px 0 #8C1215, 1px -1px 0 #8C1215, -1px 1px 0 #8C1215, 1px 1px 0 #8C1215;
        }

        </style>
    </head>
    <body>

        <header>

        </header>

        <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="h2 navbar-brand text-white letters" href="/">Events</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="h4 nav-item active letters">
                        <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="h4 nav-item ">
                        <a class="nav-link text-white letters" href="/add">Create</a>
                    </li> 
                </ul>
            </div>
        </nav>

        <div class="container-fluid">

        {% block body %}{% endblock %}d

        <div class="card-footer text-center text-white letters">
                <p> © 2019 Starinac, Inc.</p>
        </div>

        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
