{% extends 'base.html.twig' %}
{% block body %}

<section class="row d-flex justify-content-around m-1">

  <div class="col-12 m-4 text-dark text-center">
      <div class="h2 text-white letters">Create new Event</em></div>
  </div>

  <div class='text-justify col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12 col-12 bg-white shadow-lg rounded-lg'>
        
        <div class='row'>
          <div class='col text-dark text-center'>
			{{form_start(form)}}
			{{form_widget(form)}}
			{{form_end(form)}}
          </div>
        </div>
        
    </div>

</section>

{% endblock %}


